<!DOCTYPE html>
<html>
  <head>
    <title>OpenedxExerciseBuilder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div id="navbar-container" class="container-fluid mb-5">
    <% if user_signed_in? %>
      <%= render 'layouts/navbars/navbar_authenticated' %>
    <% else %>
      <%= render 'layouts/navbars/navbar_unauthenticated' %>
    <% end %>
  </div>
  <div class="container">
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
