<!DOCTYPE html>
<html>
  <head>
    <title>OpenedxExerciseBuilder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div id="navbar-container" class="container-fluid mb-5">
    <% if user_signed_in? %>
      <%= render 'layouts/navbars/navbar_authenticated' %>
    <% else %>
      <%= render 'layouts/navbars/navbar_unauthenticated' %>
    <% end %>
  </div>
  <div id="main-container" class="container">
    <div id="alerts-container">
      <% if notice %>
        <div id="flash-notice" class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div id="flash-alert" class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </div>
  </body>
</html>
